
body, ul {
    margin: 0;
    padding: 0;
}

/*navbar styles*/
.navbar{
    background-color: #f7c370;
    color: #333333;
    padding: 20px 0;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 1.5em;
    text-decoration: none;
    color: #794819;
}

.nav-links{
    list-style-type: none;
}

.nav-links li{
    display: inline;
    margin-right: 20px;
}

.nav-links li{
    text-decoration: none;
    color: #794819;
}

/*containewr styles*/
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}